.card{
    width: 250px;
    height: 400px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.card, .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 80vh;
    font-family: 'Century Gothic', sans-serif;
}
p{

}