table {
    width: 100vw;
    height: 100vh;
    font-family: 'Century Gothic', sans-serif;
}
td {
    padding-left: 10px;
    vertical-align: middle;
}
.leftbox {
    background-color: lightblue;
}
.rightbox {
    background-color: lightcoral;
}
@media (max-width: 600px) {
    table {
        width: 100%;
    }
    td {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        box-sizing: border-box;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}